body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}
#heading {
  background-image: url("../images/crystal-pattern.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #03989e;
}
.nav {
  position: absolute;
  right: 2rem;
  top: 2rem;
  padding: 2rem;
}
.nav-item {
  display: inline-block;
  margin: 0.5rem 1rem;
}
.nav-link {
  font-size: 1rem;
  color: #fff;
  text-decoration: none;
}
.nav-link:hover {
  color: #055658;
}
.my-name {
  text-align: center;
  padding: 15% 15% 10%;
}
h1 {
  color: #fff;
  font-family: "Source Code Pro", monospace;
  display: inline-block;
  font-size: 3rem;
}
.gr-icon {
  color: #393e46;
  padding: 1rem;
  position: relative;
  top: 0.3rem;
}
.gr-icon:hover {
  color: black;
}
.owl-img {
  width: 7%;
  position: relative;
  left: 2rem;
  display: block;
}
#work {
  background-color: #fff;
  padding: 15%;
}
#footer {
  background-color: #03989e;
  padding: 15%;
}
