body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}
#heading {
  background-image: url("../images/bright-squares.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #03989e;
}
.nav {
  position: fixed;
  z-index: 3;
  width: 100%;
  background-color: #03989e;
  background-image: url("../images/bright-squares.png");
  text-align: right;
}
.owl-img {
  display: inline-block;
  position: absolute;
  left: 1rem;
  top: 0.7rem;
  width: 2%;
}
.nav-link {
  display: inline-block;
  margin: 1rem 1.5rem;
  font-size: 1rem;
  color: #eeeeee;
  text-decoration: none;
}
.nav-link:hover {
  color: black;
}
.fa-sort-down{
  font-size: 1rem;
  position: relative;
  bottom: 2px;
}
.tools-dropdown {
  position: relative;
  display: inline-block;
}
.tools-dropdown-content {
  display: none;
  position: absolute;
  background-color: #eeeeee;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 1rem;
  text-align: left;
}
.tools-dropdown:hover .tools-dropdown-content {
  display: block;
}
.tool-dd-item {
  display: block;
  padding: 1rem;
  text-decoration: none;
  color: #055658;
}
.tool-dd-item:hover {
  background-color: #03989e;
  color: #eeeeee;
}
.nav-icon{
  margin: 1rem 1.5rem;
  color: #fff;
  display: none;
}
.my-name {
  text-align: center;
  padding: 15%;
}
h1 {
  color: #fff;
  font-family: "Source Code Pro", monospace;
  display: inline-block;
  font-size: 3rem;
  margin-bottom: 0;
}
.so {
  color: #fff;
  font-weight: bold;
  font-size: 1.7rem;
}
.gr-icon {
  color: #393e46;
  padding: 1rem;
  position: relative;
  top: 0.3rem;
}
h1:hover > .gr-icon {
  color: black;
}
#work {
  background-color: #eeeeee;
  padding: 10% 15%;
}
.work-div{
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}
.work-item {
  width: 60%;
  text-align: center;
}
.role-desc {
  font-size: 2rem;
}
.role,
.exp {
  color: #047f83;
  font-weight: bold;
}
.perf-logo-div {
  width: 40%;
  text-align: center;
}
.perf-logo {
  width: 30%;
}
#tech {
  background-color: #03989e;
  background-image: url("../images/bright-squares.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 3% 10% 5%;
}
.tech-row{
  display: flex;
  flex-flow: row wrap;
}
.tech-title {
  font-size: 2.5rem;
  color: #eeeeee;
}
.tech-head {
  color: #eeeeee;
}
.tech-card {
  margin: 4% 8%;
  width: 15%;
  height: 12rem;
  text-align: center;
  display: inline-block;
}
.tech-name {
  border-radius: 2rem 2rem 0 0;
  background-color: #eeeeee;
  box-shadow: 0 0 0.5rem 0.05rem #393e46;
  padding: 3rem 1rem;
}
.tech-name h3,
.tech-desc p {
  margin: 0;
}
.tech-desc {
  border-radius: 0 0 2rem 2rem;
  box-shadow: 0 0 0.5rem 0.05rem #393e46;
  background-color: #51c4d3;
  padding: 1rem;
}
#protocols {
  background-color: #eeeeee;
  padding: 3% 10% 5%;
}
.protocol-title {
  font-size: 2.5rem;
  color: #055658;
}
.flex-protocol {
  display: flex;
  flex-flow: row wrap;
}
.protocol-div {
  width: 20%;
  display: flex;
  align-items: center;
  margin: 3% 5%;
}
.fa-caret-right {
  margin-right: 0.5rem;
  color: #055658;
}
.protocol-box {
  background-color: #aad8d3;
  width: 70%;
  border: 2px solid;
  border-radius: 8px;
  box-shadow: 0 0 3px 2px #aad8d3;
  padding: 0.5rem;
}
.protocol-box p {
  padding-left: 1.5rem;
  font-weight: bold;
}
#tools {
  background-color: #03989e;
  background-image: url("../images/bright-squares.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 3% 10% 5%;
}
.tools-title {
  font-size: 2.5rem;
  color: #eeeeee;
}
.tools-desc {
  color: #eeeeee;
  font-size: 1rem;
  margin-bottom: 2rem;
}
.script-div,
.execution-div,
.monitoring-div,
.client-perf-div,
.programming-div,
.ft-div {
  width: 80%;
  border-radius: 2rem;
  background-color: #eeeeee;
  box-shadow: 0 0 0.5rem 0.05rem #393e46;
  padding: 3% 5%;
  margin: 5%;
}
.tool-head {
  color: #055658;
}
.tool-p {
  color: #393e46;
}
.script-row,
.execution-row,
.monitoring-row,
.client-perf-row,
.programming-row,
.ft-row {
  display: flex;
  flex-flow: row wrap;
  margin: 2rem 0;
}
.script-tool,
.execution-tool,
.monitoring-tool,
.client-perf-tool,
.programming-tool,
.ft-tool {
  width: 33%;
  text-align: center;
}
.script-level,
.execution-level,
.monitoring-level,
.client-perf-level,
.programming-level,
.ft-level {
  padding: 1rem 0.5rem 0.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.fa-circle {
  color: #03989e;
}
.fa-outer {
  color: black;
  position: absolute;
}
.tool-level {
  position: absolute;
  z-index: 1;
  color: #eeeeee;
  font-weight: bold;
  font-size: 1.5rem;
}
.tool-outOf {
  font-size: 0.9rem;
  font-weight: normal;
}
.tool-name {
  font-weight: bold;
}
.utility-title {
  color: #055658;
}
.utility-list {
  list-style: none;
  line-height: 3;
}
.utility-item {
  font-size: 0.8rem;
}
.utility-item::before {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 3px;
  border-color: transparent transparent transparent#055658;
  position: relative;
  right: 0.5rem;
}
#projects {
  background-color: #eeeeee;
  padding: 3% 10% 5%;
}
.project-title {
  font-size: 2.5rem;
  color: #055658;
}
.project-p {
  color: #055658;
  font-size: 1rem;
  margin-bottom: 2rem;
}
.timeline {
  width: 80%;
  position: relative;
  margin-top: 4rem;
}
.fa-timeline-outer {
  position: absolute;
  color: black;
  z-index: 2;
  top: 20%;
  left: -2.45rem;
  font-size: 1.2rem;
}
.fa-timeline {
  position: absolute;
  color: #03989e;
  top: 20%;
  left: -2.45rem;
  z-index: 1;
  font-size: 1.2rem;
}
.timeline-box {
  position: relative;
  left: 8rem;
  width: 50%;
  border: 1px solid #055658;
  border-radius: 1rem;
  padding: 1rem;
  margin: 3rem 3rem 3rem 0;
  box-shadow: 0px 20px 25px -15px rgba(0, 0, 0, 0.3);
  line-height: 1.5;
}
.timeline-box::before {
  content: "";
  width: 5px;
  height: 170%;
  background-color: #055658;
  position: absolute;
  left: -2rem;
  top: -2rem;
}
.timeline-date {
  margin: 0;
  padding-bottom: 1rem;
  color: #055658;
}
.timeline-date::before {
  content: "";
  position: absolute;
  border-style: solid;
  width: 0;
  height: 0;
  top: 20%;
  left: -15px;
  border-width: 10px 10px 10px 0;
  border-color: transparent #055658 transparent;
}
.timeline-desc {
  margin: 0;
  font-size: 0.7rem;
}
.project-name,
.phases {
  color: #055658;
  font-weight: bold;
}
#contact {
  background-color: #03989e;
  background-image: url("../images/bright-squares.png");
  padding: 3% 10% 5%;
}
.contact-title {
  font-size: 2.5rem;
  color: #eeeeee;
}
.contact-head {
  color: #eeeeee;
  font-size: 1rem;
  margin-bottom: 2rem;
}
.contact-div{
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  margin: 3rem;
}
.personal{
  width: 4%;
}
.fa-contact {
  font-size: 1.5rem;
}
.contact-detail{
  color: #eeeeee;
}
.personal-desc{
  font-size: 1.3rem;
}
.personal-desc a{
  text-decoration: none;
}
#attribution {
  background-color: #fff;
  padding: 3% 10% 5%;
}
.attribution-title {
  color: #055658;
}
.attribution-item {
  margin: 1.5rem 2rem;
}
.attribution-item a{
  text-decoration: none;
}

@media only screen and (max-device-width: 1280px) {

  .nav-icon{
    display: inline-block;
    font-size: 4.2rem;
    padding: 0.5rem 1rem 0;
  }
  .nav-link{
    display: none;
    margin: 0;
  }
  .nav-item{
    display: block;
    color: #eeeeee;
    text-decoration: none;
    padding: 1.8rem;
    font-size: 2.2rem;
  }
  .nav-item:hover{
    background-color: #eeeeee;
    color: #055658;
  }
  .nav-content{
    display: block;
    position: absolute;
    background-color: #03989e;
    width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    text-align: left;
  }
  .owl-img {
    width: 6%;
    top: 1.8rem;
    margin: 0;
  }
  .my-name{
    padding: 25% 17%
  }
   h1{
    font-size: 5rem;
   }
  .so {
    font-size: 2.7rem;
  }
  #work {
    padding: 12% 10%;
  }
  .work-item{
    width: 100%;
  } 
  .role-desc {
    font-size: 4rem;
  }
  .exp-desc{
    font-size: 2rem;
  }
  .perf-logo-div{
    width: 100%;
    margin-top: 3rem;
  }
  .perf-logo{
    width: 20%;
  }
  #tech {
    padding-top: 10%;
    padding-bottom: 15%; 
  }
  .tech-title{
    font-size: 4rem;
  }
  .tech-head {
    font-size: 1.5rem;
  }
  .tech-row{
    justify-content: center;
  }
  .tech-card{
    width: 35%;
    margin: 8rem auto;
  }
  .tech-name{
    padding: 5rem 2rem; 
  }
  .tech-name h3{
    font-size: 2rem;
  }
  .tech-desc{
    padding: 2rem 1rem;
  }
  .tech-desc p{
    font-size: 1.5rem;
  }
  #protocols {
    padding-top: 10%;
    padding-bottom: 15%; 
  }
  .protocol-title{
    font-size: 4rem;
  }
  .protocol-div{
    width: 70%;
  }
  .protocol-box{
    margin: 1rem;
  }
  .protocol-box p{
    font-size: 1.7rem;
  }
  #tools{
    padding: 10% 3% 15%;
  }
  .tools-title{
    font-size: 4rem;
    padding-left: 7%;  
  }
  .tools-desc{
    font-size: 1.2rem;
    padding-left: 7%;  
  }
  .tool-head{
    font-size: 2.5rem; 
  }
  .script-div,
  .execution-div,
  .monitoring-div,
  .client-perf-div,
  .programming-div,
  .ft-div{
    margin: 10% auto;
  }
  .script-tool,
  .execution-tool,
  .monitoring-tool,
  .client-perf-tool,
  .programming-tool
  {
    width: 50%;
  }
  .ft-tool{
    width: 100%;
  }
  .script-level,
  .execution-level,
  .monitoring-level,
  .client-perf-level,
  .programming-level,
  .ft-level {
    padding: 1rem 0.5rem 0.3rem;
  }
  #tools i{
    font-size: 9rem;
  }
  .tool-p{
    font-size: 1rem;
  }
  .tool-level {
    font-size: 3.5rem;
  }
  .tool-outOf, .tool-name,.ft-div .tool-p {
    font-size: 1.7rem;
  }
  .utility-title{
    font-size: 2.5rem;
  }
  .utility-item{
    font-size: 1rem;
  }
  #projects{
    padding: 10% 5% 15%;
  }
  .project-title{
    font-size: 4rem;
    padding-left: 3%;
  }
  .project-p{
    font-size: 1.2rem;
    padding-left: 3%;
  }
  .timeline {
    width: 90%;
    margin-top: 5rem;
  }
  .fa-timeline-outer {
    left: -3.7rem;
    top: 15%;
    font-size: 2.3rem;
  }
  .fa-timeline {
    left: -3.7rem;
    top: 15%;
    font-size: 2.3rem;
  }
  .timeline-box {
    left: 8rem;
    width: 80%;
    margin: 5rem 5rem 5rem 0;
  }
  .timeline-box::before {
    width: 14px;
    height: 160%;
    left: -3rem;
    top: -3rem;
  }
  .timeline-date {
    margin: 0;
    font-size: 1.7rem;
    padding-bottom: 1rem;
  }
  .timeline-date::before {
    content: "";
    position: absolute;
    border-style: solid;
    width: 0;
    height: 0;
    top: 20%;
    left: -15px;
    border-width: 10px 10px 10px 0;
    border-color: transparent #055658 transparent;
  }
  .timeline-desc {
    margin: 0;
    font-size: 1.5rem;
  }
  .project-name,
  .phases {
    color: #055658;
    font-weight: bold;
  }
  #contact {
    padding: 10% 10% 15%;
  }
  .contact-title {
    font-size: 4rem;
  }
  .contact-head {
    font-size: 1.5rem;
    margin-bottom: 3rem;
  }
  .contact-div{
    margin: 5rem 5rem 5rem 0;
  }
  .personal{
    width: 12%;
  }
  .fa-contact {
    font-size: 3rem;
  }
  .contact-detail{
    font-size: 2.2rem;
  }
  .attribution-item{
    font-size: 0.7rem;
  }

}

@media only screen and (min-device-width: 500px) and  (max-device-width: 1280px){

  .tool-p, .utility-item{
    font-size: 1.5rem;
  }
  .timeline-box::before {
    height: 170%;
  }
 
}